@import url("https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}
.wrapper {
  width: 100vw;
  height: 100vh;
}
.nav {
  min-width: 100%;
  padding: 10px 0 15px 0;
  position: fixed;
  top: 0;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 100;
}
.nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  font-size: 17px;
}
nav ul img{
  cursor: pointer;
}
.nav ul a {
  text-decoration: none;
  color: #b6b6bc;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  transition: all 0.3s ease;
}
.nav ul a:hover {
  color: #00214a;
}
.info {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 215px;
}
.info h1 {
  font-family: "Schibsted Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  color: #292929;
}
.info p {
  font-family: "Schibsted Grotesk", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #b6b6bc;
  margin-top: 25px;
}
.contact {
  width: 100%;
  padding: 200px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-item {
  width: 100%;
  min-height: 400px;
  padding: 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  font-family: "Schibsted Grotesk", sans-serif;
}
.contact-item-title {
  width: 350px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.contact-item-title h1 {
  font-size: 30px;
  color: #00214a;
}
.contact-item-title p {
  font-size: 18px;
  color: #b6b6bc;
}
.contact-item-item {
  width: 600px;
  min-height: 170px;
  display: flex;
  flex-wrap: wrap;
}
.agreement {
  position: relative;
  padding-left: 35px;
  width: 270px;
  height: 100px;
  margin: 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  color: #00214a;
  line-height: 150%;
}
.agreement input{
  width: 15px;
  height: 15px;
  position: absolute;
  top: 15px;
  left: 13px;
}
.contact-item-input, .submit {
  width: 270px;
  min-height: 55px;
  outline: none;
  font-size: 17px;
  border-radius: 30px;
  margin: 15px;
}
.contact-item-input {
  border: 1px solid #b6b6bc;
  padding-left: 20px;
  color: #b6b6bc;
}
.submit{
  height: 55px;
  background-color: #00214a;
  color: #fff;
}
footer {
  position: relative;
  width: 100%;
  min-height: 600px;
  background-color: #00214a;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}
.footer-item {
  width: 70%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #fff;
  font-family: "Schibsted Grotesk", sans-serif;
}
.footer-div {
  width: 320px;
  height: fit-content;
}
.footer-div:nth-child(1) {
  font-size: 30px;
  display: flex;
  align-items: center;
}
.footer-div:nth-child(5) {
  height: 130px;
}
.footer-div i {
  font-size: 20px;
  margin: 0 20px 0 0;
  color: #ff1100;
}
.footer-div h1 {
  margin: 0 0 35px 0;
  font-size: 25px;
}
.social-links {
  display: flex;
  margin: 95px 0 0 0;
}
.social-links div {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}
.link i {
  margin: 0;
  color: #00214a;
  font-size: 22px;
}
.location-img {
  width: 500px;
  height: 300px;
}
.copyright {
  position: absolute;
  bottom: 0;
  width: 90%;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  color: #fff;
  border-top: 1px solid #334d6e;
}
