@import url("https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Schibsted Grotesk", sans-serif;
}
html,
body {
  overflow-x: hidden;
}
.wrapper {
  width: 100vw;
  height: 100vh;
}
.nav {
  min-width: 100%;
  padding: 10px 0 15px 0;
  position: fixed;
  top: 0;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 100;
}
.nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  font-size: 17px;
}
nav ul img {
  cursor: pointer;
}
.nav ul a {
  text-decoration: none;
  color: #b6b6bc;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  transition: all 0.3s ease;
}
.nav ul a:hover {
  color: #00214a;
}
.info {
  width: 100%;
  height: 100vh;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 215px;
}
.info h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  color: #292929;
}
.info p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #b6b6bc;
  margin-top: 25px;
}

/* our-mission */

.our-mission {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0px;
  background-color: #f3f3f3;
}
.our-mission-title {
  width: 100%;
  text-align: center;
  margin: 0 0 50px 0;
  color: #00214a;
  font-size: 40px;
}
.mission-img{
  width: 80%;
  min-height: 80%
}

/* union */
.union {
  width: 100%;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
}
.union-items {
  width: 500px;
  height: 100px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-bottom: 1px solid #ccd4d6;
}
.item-title {
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item-title h1 {
  font-size: 26px;
}
.item-title i {
  font-size: 23px;
  cursor: pointer;
  color: #ff1100;
}
.union-items p {
  font-size: 20px;
  color: #b6b6bc;
}
.aloqa-uchun {
  text-align: center;
}
.aloqa-uchun h3 {
  font-size: 24px;
  color: #002930;
}
.aloqa-uchun h1 {
  font-size: 44px;
  color: #00214a;
  margin-top: 10px;
}
/* contact */
.contact {
  width: 100%;
  padding: 200px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-item {
  width: 100%;
  min-height: 400px;
  padding: 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
}
.contact-item-title {
  width: 350px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.contact-item-title h1 {
  font-size: 30px;
  color: #00214a;
}
.contact-item-title p {
  font-size: 18px;
  color: #b6b6bc;
}
.contact-item-item {
  width: 600px;
  min-height: 170px;
  display: flex;
  flex-wrap: wrap;
}
.agreement {
  position: relative;
  padding-left: 35px;
  width: 270px;
  height: 100px;
  margin: 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  color: #00214a;
  line-height: 150%;
}
.agreement input {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 15px;
  left: 13px;
}
.contact-item-input,
.submit {
  width: 270px;
  min-height: 55px;
  outline: none;
  font-size: 17px;
  border-radius: 30px;
  margin: 15px;
}
.contact-item-input {
  border: 1px solid #b6b6bc;
  padding-left: 30px;
  color: #b6b6bc;
}
.contact-item-input:focus{
  border: 1px solid #00214a;
}
.submit {
  height: 55px;
  background-color: #00214a;
  color: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 0;
  border: none;
}
.submit:hover {
  opacity: 60%;
}
.footer {
  width: 100vw;
  background-color: #00214a;
  padding: 80px 150px 0px 150px;
}
.footer-contact-info {
  display: flex;
  justify-content: space-around;
}
.branches {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  color: #fff;
}
.branch-items {
  width: 100%;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: lighter;
  font-size: 14px;
  line-height: 30px;
  color: #fff;
}
.branch-map {
  width: 100%;
  margin-top: 60px;
}
.branches img {
  width: 400px;
  height: 300px;
}
.tinchlik-branch {
  margin-left: 30px;
}
.tinchlik-branch,
.sergeli-branch {
  display: flex;
  align-items: center;
}
.contacts {
  width: 45%;
  align-items: center;
  justify-content: space-around;
}
.contact-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: sans-serif;
  font-style: initial;
}
.contact-address {
  margin-top: 50px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: sans-serif;
  font-style: initial;
}
.contact-address h3 {
  font-size: 30px;
}
.contacts h2 {
  font-size: 27px;
  color: #fff;
}
.contacts h4 {
  font-size: 20px;
  color: #fff;
}
.address-items {
  display: flex;
  margin-top: 45px;
}
.iconsforcon {
  display: flex;
  align-items: center;
}
.contact-social {
  display: flex;
  width: 45%;
  justify-content: space-between;
  margin-top: 50px;
}
